---
eleventyExcludeFromCollections: true
permalink: categories/index.json
---
[
{%- for category in collections.category -%}
{%- if loop.last -%}
"{{- category -}}"
{%- else -%}
"{{- category -}}",
{%- endif -%}
{%- endfor -%}
]