---
eleventyExcludeFromCollections: "true"
permalink: /key.txt
---
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGLBpxEBEADTpld7wFBRoRToFStkk/Ibw711V7JLMpLmqcxPEFqUY+qzV9y+
l8gDbYRykXs8+3oCDhjQq4VqWb0ts4vGdP9VVD6zDy/FvK84ckIE8uWQcQkOjILk
atQDsX8Ovdp1Pc/Peq6WKZoeTISM+4KHB0aegcHBgA5+w0cFEi6Nk67NSWTjxd5F
zT66tk6Wm6PwcBPdevfJLDVG7PMDUDQ0TnxacLnShXvlrC4KqRAQVvoLsj9nCiYT
ShW5U/wBMyKDMH9F7RtMwp8OQX6D7yq2s3nLLWImDluKjMrXCCS2GDn+/7zVLxX3
Qt1YzlZJLNBS0NxhEvSiTUxV5fPaJwSsZC5RL1Q2LspbIuQvw2B0yHnoUd6XKsC8
BlDvoIT5DVMMBIyaJaApeiaMaJ1hACtx6OhXIqkCrXD5jtq1hn8cWkJj6qwPdSk8
7qXGX38PBolL6Yp0aZIEe6UFRiVTHc84HnTyscmY066GimgfmaBM+vMfUSeY7bSz
miF27ISS1NKwoWBDDGntgoxh0EIbFoxA0ygcXX7fOLj0weoyGE8Pn1etO6dvc9G/
x0WLh17ewXg1RsBLQCLMiur6xlIJeqilQMiu7b9T+qUEHnNQAsvNeLZz30Jm/Sxg
gcHI7xxA830MQoBeT9/3bwLwyjyFHKda/PXIK276Gw0j7u5O06tsHLEepwARAQAB
tB1HYWVscnluZGVsIDxnYWVscnluZGVsQHBtLm1lPokCTgQTAQgAOBYhBK1lHoXQ
zi1h0uXYK4rb3Jfr7JwKBQJiwacRAhsDBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheA
AAoJEIrb3Jfr7JwKc1EQAI/OXYuo7vZ2+d3t1qPS8dwXVLEmS7zCUrS4hgqto6c6
g7vlZk/jmlD91pnAHL0JajJIKSQiEgFDhE7l41HJjH5rJ4sq/6NHO2IG0jotZgVo
UE07IxeKSMW4BbWwd1koZKfwqkyKwDFRF5u0lGkP5NZkqa/LdV95Ntm6F0hps8E5
ky7gkgZGq6WVpcBjBTIPoFCyhG7++xGx1Y5BcEz5LBV3b14865VdaXhGcY4O+BsS
8PuOGaYFJUP2WmpyY9uBGWANCK0fMWc9fLeWJXON68TkXFaCdzKIAfikBHd27FtI
c3BRJ09Jbc3Jss+PEVonmtwfFEoCmkRSkztPEL8W6BhE+Z/hNmFHFNcWyLyRjXRh
Y+N0OF9KEah10P8stU3ZwuMRvKV2uGWfAHWFsuv9Sp1i9/uyl6SptbCbvc7qeb1H
ICkP8nr7VLzPiXXjVmXV0mblYJSIOwUnINvZX46e9QNprLVaFhzxsq/WBbNAAamW
dt70fgubAMK9MdXVonMFmgwY7I/KADXjMb080r9ua4OtaqHtcge0ojhgcTQOXJtv
TNIPbTTwk8e9zpHlSu7I9IuteQTqhYpwwL20vn7vqhJG2qBTVG8cVyql3XcwqY7+
Q6NrZt9syA8zktWrWcbBDaqUTcdy0qHRGbK3YTR+mCXGf6QH+ZBUwvcZflr85ZxB
uQINBGLBpxEBEADfJSJNq+DlC7fPHeSmiHNYpCF70qqvjAHZU4lVE4z8FDYcBueZ
Wybxd19HPrYoMvT5B3D/3i1fBLdI9iPVCQaFPjLS9yRKIW7tKHk7IyfsCULHoCsO
0WBnfUw8GiP+v0E868mdQyI2IlRXpfMSlLNO9ehyhDmuaBrbsbExq7rd77QSFOlF
gAg+fHX8XtMK+ihzbjokXprD+zHNfCdbnoCp9bzzk7o49k5Xd3pe717te/9Qpjk0
E27sKzDk4F1dZAQXjq5jRM6TBdcygi45AUMTHxK0qvOjsPImYnvhRmzIlKMP6CWc
6lWko7+Z3GeLJwcp6SO9cGWaAZGR8aPkCn07VS+cfAfT6GpQ3HD06wDrXa4IdFI+
E87KZ+dT3rlOuQ1Y66VZb6s2uJ3D1oSMAObYCfGeIHpOKMBq2NkwssD/dFDj2Sat
u6mQKRYMQMmrKe9Kc+mn4Pia/53hx5iKFyAuXLfLtUG368va/hFXbiV0PUR8sf6U
tzoh0P6y8iw/6Mnj0dyh+0CthX1hHuqJlrxE8gbIjCILLaHxgHeWiXzvXu6OOJ3W
HXQRnHTzV+5BGNSOQXknnWRiSKegyd9Hkc+fwTjQXJwN1z+RXIxb9KOzDk9fHw3/
ayQkgxUthSn4sCw1Hh0A3h8VHiF81RXvyV6woXCb1TxMDSRalhV9BHNQTQARAQAB
iQI2BBgBCAAgFiEErWUehdDOLWHS5dgritvcl+vsnAoFAmLBpxECGwwACgkQitvc
l+vsnAomIg/+Nqvfi0riNBSuBfZBm+f/LiVGYeGcIqEO15bQLFhW1N1SqTmUfdye
An0PQUgTQT50r6fIOgxK42kEoId9j44r0OJDTJa7zkFjwLmap272drUvpu1h/gtU
E/VEoDWsot0opnLY4vLH04c2a7qKmj9xlQsXo27V6TMTM7nxR3JzU4xtAcRWjjC2
eH5A+Ws5LFmJ0iNggmL71ZhuvtBCe3NWBld1nIwKdXCa3QfllX0Xr82O0rJZVDa7
VdBQ3mK5yu+VETThin9x1R2dnyueuaq7jYz+iQzlWfsjVk0pmVNLR4J+VEN1s8HS
bBFA00QHqn8pxXQUxkorxnq+Lgq4wq7ffyNQ8Sdc49kK+YRG+h9N9UXY1BBi5RNj
NDQpoMniWCvzOasbMGqy9H3kWhlnOxbgWGcpl29MLgJm2XdoLn0R7D2o70dRxvq1
JoCXmoGOaKGiwoB3s2Xy7o34YzkTK58nyrYLCVe3y6VziwEXk64GCRcjnmx2IjAU
8kagWcPei1P94FoE1c38ySBN0n7NKNwv6mIvyvHgzyskO5lJ9oTvYl9VK6g8MXCQ
J91+tMFxz9NPk/0orDDBs1eShtI1uLkrv6HmcgavNSUMtsy1nWWEP0jacIdbm91e
aC1EYwhRujgfZsukQjTP15YCey0sZgua+Y7/1TBRILB1vrOseoOCucg=
=oNK4
-----END PGP PUBLIC KEY BLOCK-----