---
eleventyExcludeFromCollections: "true"
permalink: /site.webmanifest
---
{
"name": "Eldenbrill",
"short_name": "Eldenbrill",
"start_url": "/",
"display": "browser",
"description": "News and updates from Ivan's digital garden",
"dir": "ltr",
"lang": "bg",
"orientation": "natural",
"scope": "/",
"icons": [
  { "src": "/assets/icons/icon-maskable.png", "type": "image/png", "sizes": "192x192", "purpose": "maskable" },
  { "src": "/assets/icons/icon-192.png", "type": "image/png", "sizes": "192x192" },
  { "src": "/assets/icons/icon-512.png", "type": "image/png", "sizes": "512x512" }
]
}